src/main/app/businesslogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" 
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" 
	xmlns:siebel="http://www.mulesoft.org/schema/mule/siebel" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:spring="http://www.springframework.org/schema/beans"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/siebel http://www.mulesoft.org/schema/mule/siebel/current/mule-siebel.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

        
    <batch:job name="syncAccountsBatch">
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        <batch:input>
            <sfdc:query config-ref="Salesforce" query="dsql:SELECT AccountNumber, AccountSource, AnnualRevenue, BillingCity, BillingCountry, BillingPostalCode, BillingState, BillingStreet, Description, Fax, Industry, LastModifiedDate, Name, NumberOfEmployees, OwnerId, Ownership, ParentId, Phone, Rating, ShippingCity, ShippingCountry, ShippingPostalCode, ShippingState, ShippingStreet, Sic, SicDesc, Site, TickerSymbol, Type, Website FROM Account WHERE NumberOfEmployees &gt; 5000 AND LastModifiedDate &gt;= TODAY" doc:name="query all accounts from SalesForce with filtering criteria" fetchSize="${page.size}"/>
        </batch:input>
        <batch:process-records>
            <batch:step name="getAccountInSiebelStep">
                <enricher source="#[payload.isEmpty() ? null : payload[0].Id]" target="#[payload.Id]" doc:name="Enrich payload with Id">
                    <siebel:query-business-components config-ref="Oracle_Siebel_Business_Objects" businessObjectComponentType="Account.Account" searchExpression="Name = '#[payload.Name]'" doc:name="query account from Siebel">
                        <siebel:fields-to-retrieve>
                            <siebel:fields-to-retrieve>Id</siebel:fields-to-retrieve>

                        </siebel:fields-to-retrieve>
                    </siebel:query-business-components>
                </enricher>
            </batch:step>
            <batch:step name="upsertAccountIntoSiebelStep" >
                <dw:transform-message doc:name="SFDC Account to Siebel Account">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	(Id                      : payload.Id) when payload.Id != null,
	"Account Number"         : payload.AccountNumber,
	Description              : payload.Description,
	Name                     : payload.Name
}

]]></dw:set-payload>
                </dw:transform-message>
                <siebel:upsert-business-component config-ref="Oracle_Siebel_Business_Objects" businessObjectComponentType="Account.Account" doc:name="upsert account in Siebel">
                    <siebel:business-component-fields ref="#[payload]"/>
                </siebel:upsert-business-component>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <logger message="Upsert Siebel response: #[payload]" level="INFO" doc:name="log response"/>
            </batch:step>

        </batch:process-records>
        <batch:on-complete>
            <scatter-gather doc:name="All">
                <processor-chain>
            		<json:object-to-json-transformer doc:name="transform BatchJobInstance to JSON"/>
            		<logger message="Migration process has finished: #[payload]" level="INFO" doc:name="log 'Migration process has finished'"/>
                </processor-chain>
				<processor-chain>
                    <parse-template location="email/body.html" doc:name="Parse Template"/>
                    <smtp:outbound-endpoint host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" connector-ref="gmailConnector" to="${mail.to}" from="${mail.from}" subject="${mail.subject}" responseTimeout="10000" doc:name="send email"/>
				</processor-chain>
            </scatter-gather>
        </batch:on-complete>
    </batch:job>
    <flow name="mainFlow" >
        <batch:execute name="syncAccountsBatch" doc:name="trigger syncAccountsBatch"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="catch Exception and call defaultChoiceExceptionStrategy"/>
    </flow>
</mule>
